encryption = "age"

[age]
  identity = "{{ .chezmoi.homeDir }}/.config/chezmoi/key.txt"
  recipient = "age1wngv03084t2yh0kfrtvrkymy3ehrz0ajkz0u8yneex87amfwn37ss4nt0v"

[git]
  autoCommit = true
  autoPush = true
